#formaddcontacth2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
}

#conteinerheader {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}


#conteinerheader img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: -190px;
}


#conteinerheader label {

    padding: 2px;
    border: 2px solid rgba(0, 0, 0, 0.26);
    height: 30px;
    border-radius: 20px;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}


.configinput {

    display: block;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.26);
    width: 250px;
    height: 25px;
    margin: 5px 0px 5px 0px;
}

#conteinermain{
    width: 250px;
    margin: auto;
}

#conteinermain label {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    
}

#inputsave {
    border: none;
    background-color: rgba(0, 42, 255, 0.771);
    color: white;
    height: 35px;
    border-radius: 15px;
    width: 130px;
    display: block;
    margin: auto;
    margin-top: 25px;
    font-size: 1em;
}



