* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    min-height: 100vh;
    background-color:#F2F4F7 ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    background-color: rgba(255, 255, 255, 0.896);
    width: 350px;
    height: 690px ;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #0000000d;
}

#head {
    position: relative;
    padding: 25px;
}

h1 {
    display: inline-block;
    font-size: 1.90em;
    color:#253242;
}

#add {
    text-decoration: none;
    color: rgba(113, 113, 237, 0.836) ;
    font-size: 2.3em;
    margin: 0px 0px 0px 130px;
    border: 0;
    background: none;
    cursor: pointer;
}

#searchc{
    display: block;
    margin: 15px 0px auto auto;
    border: 0;
    background-color:#f2f4f7ab  ;
    border-radius: 10px;
    padding: 8px 10px 8px 43px;
    width: 297px;
    height: 35px;
    font-size: 0.93em;
}


#iconsearch {
    position: absolute;
    left: 40px;
    top: 89px;
}

#mycont {
    display: flex;
    align-items: center;
    background-color:white ;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.045);
    border-radius: 8px;
    height: 60px;
    width: 297px;
    margin: -12px auto auto auto;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;

}

/* .line {
    white-space: pre-line;
} */

#mycont img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

#mycont #infosy {
   margin: 12px ;
}

#divname {
    color: rgb(56, 56, 56);
    font-weight: bold;
}

#divnumber {
    font-weight: 100;
    color:#253242da;
}

#infosy div {
    padding: 1px;
}

.modalback {
    
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.375);
    
   

}

.modal {

    background-color: white;
    width: 300px;
    height: 300px;
}

/* pensar em uma tela de login */