* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color:#F2F4F7 ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    background-color: rgba(255, 255, 255, 0.896);
    width: 380px;
    height: 605px ;
    border-radius: 15px;
    box-shadow: 0px 7px 10px 0px #0000000d;
}

#head {
    position: relative;
    padding: 25px;
}

h1 {
    font-size: 1.40em;
    text-align: center;
    color:#253242;
}

img {
    width: 80px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 15px;
}

#imgcontainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 54%;
    top: 70%;
    width: 28px;
    height: 28px;
    background-image: url(../images/upload.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    
}

#imginput {
    border-radius: 50%;
    width: 25px;
    opacity: 0;
}

label {
    font-weight: bold;
    font-size: 0.92em;
    margin-left: 40px;
}


#infos label input {
    display: block;
    margin: auto;
    padding: 5px;
    margin-bottom: 25px;
    border-color: rgba(128, 128, 128, 0.152);
    border-radius: 6px;
    width: 300px;
    height: 30px;
    margin-top: 3px;

}

#register {
    display: block;
    margin: auto;
    height: 32px;
    width: 300px;
    border-radius: 6px;
    border: none;
    background-color: rgb(80, 126, 252);
    color: white;
    font-size: 0.90em;
}

#infos {
    margin-top: -10px;
}